* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-z-font-smoothing: grayscale;
}

:root {
  font-family: "Inter", sans-serif;

  --background-primary: #F0F5F2;   
  --background-secondary: #FFFFFF; 

  --color-brand: #2A9852;           
  --color-brand-hover: #327749;     
  --color-danger: #D9534F;          

  --content-primary: #E6E6E6;
  --content-secondary: #B0B0B0;      
  --content-tertiary: #8C8C8C;

  --border-primary: #A7C4B5;        
  --border-secondary: #7FA38F;
}

html {
  font: 1rem/1.25rem 500;
}

body {
  background-color: var(--background-primary);
}

.flex {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 375px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.dark-mode {
  --background-primary: #1A1A1A;
  --background-secondary: #262626;

  --content-primary: #E6E6E6;
  --content-secondary: #B0B0B0;
  --content-tertiary: #8C8C8C;

  --border-primary: #3E6B5B;
  --border-secondary: #2F5A4A;

  & h1 {
    color: var(--content-secondary);
  }

}

* {
  transition: .2s ease;

  &:focus{
    outline: 2px solid var(--border-primary);
  }
}
