* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-z-font-smoothing: grayscale;
}

:root {
  font-family: "Inter", sans-serif;
  
  --background-primary: #F5F7F3;       
  --background-secondary: #FFFFFF;     

  --color-brand: #6DA67E;            
  --color-brand-hover: #5C8B6A;      
  --color-danger: #D9534F;            

  --content-primary: #2F3E35;        
  --content-secondary: #647864;      
  --content-tertiary: #A3B4A2;        

  --border-primary: #C9D6C2;         
  --border-secondary: #A3B4A2;          
}

html {
  font: 1rem/1.25rem 500;
}

body {
  background-color: var(--background-primary);
}

.flex {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 375px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.dark-mode {
  --background-primary: #1B1F18;      
  --background-secondary: #2C322B;    

  --color-brand: #8BCB96;             
  --color-brand-hover: #6DA67E;       
  --color-danger: #F0716F;            

  --content-primary: #E6E6E6;         
  --content-secondary: #A3B4A2;       
  --content-tertiary: #7B8C7B;        

  --border-primary: #475B49;          
  --border-secondary: #647864;        
}

h1 {
    color: var(--content-primary);
}

* {
  transition: .2s ease;

  &:focus{
    outline: 2px solid var(--border-primary);
  }
}
