
.container > img {
  display: none;
}

header {
  gap: 1rem;

  margin-block: 2.125rem 2.75rem;
  font: 1.5rem/2rem 700;
}

form {
  gap: 1rem;
  margin-bottom: 2.5rem;

  & input, button {
    padding: 0.6875rem 1.125rem;
    border-radius: .75rem;  
    font: inherit;
  }

  & button {
    border: none;
    background-color: var(--color-brand);
    color: var(--background-primary);
    cursor: pointer;

    transition: .2s ease;

    &:hover {
      background-color: var(--color-brand-hover);
    }
  }

  & .input-wrapper {

    & label {
      display: block;
      overflow: hidden;
      font-size: 1px;
      line-height: 1px;
      height: 0;
      max-height: 0;
      max-width: 0;
      opacity: 0;
      visibility: hidden;
    }

    & input {
      width: 100%;
      background-color: var(--background-secondary);
      border: 2px solid var(--border-primary);
      color: var(--content-tertiary);
      outline: none;

      transition: .2s ease;

      &:hover {
        cursor: pointer;
        border-color: var(--border-primary-hover);
      }

      &:focus {
        border-color: var(--color-brand);
        color: var(--content-primary);
      }


    }
    
  }
}

#itens {
  gap: .75rem;
  margin-bottom: 2.25rem;

  & .item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .75rem;
    gap: .75rem;
    
    border-radius: .75rem;
    background-color: var(--background-secondary);
   
    color: var(--content-secondary);
    font-weight: 500;

    & :nth-child(3) {
      margin-left: auto;
    }
  }
}

.alert {
  display: flex;
  align-items: center;
  padding: .75rem;
  gap: .5rem;
  color: var(--background-secondary);
  background-color: var(--color-danger);
  font-weight: 500;

  & :nth-child(3) {
    margin-left: auto;
  }
}

.hide-item {
  display: none;
}

@media (width>=70em) {
  .container {
    max-width: 40rem;
  }

  .container > img {
    display: block;
    margin: 1.5625rem auto 3.875rem;
  }

  #my-form {
    flex-direction: row;
   
    & button {
      width: 10rem;
    }

    & .input-wrapper {
      width: calc(100% - 11rem);
    }
  }
}
